# EXAMPLE settings.yml to feed the Ansible playbooks
user:
full_name:
email:

gmail_user:
gmail_pass:

wireless_chan:
wireless_ssid:
wireless_key:

pppoe_authname:
pppoe_authkey:

if_out: pppoe0
if_in: vether0

hostname:

nameservers:
  - 1.1.1.1@853
  - 1.0.0.1@853

network_address: 192.168.1.1
network_subnet: 192.168.1
network_cidr: 192.168.1.0/24
network_mask: 255.255.255.0
network_broadcast: 192.168.1.255
network_domain: a.domain
network_fixed_clients:
  a-webserver:
    logical: 192.168.1.2
    physical: 25:5B:BB:06:F9:84

  a-laptop:
    logical: 192.168.1.3
    physical: 24:55:b9:06:f9:05

wireguard_address: 10.0.1.1
wireguard_cidr: 10.0.1.1/24
wireguard_mask: 255.255.255.0
wireguard_listen_port: 51820
wireguard_peers:
  a-laptop:
    public_key:
    allowed_ips: 0.0.0.0/0

ntp_pool: au.pool.ntp.org

openbsd_mirror: https://cloudflare.cdn.openbsd.org
openbsd_mirror_directory: openbsd

dir_files: files
dir_templates: templates

ssh_external_port: 443

# Bufferbloat
# Set to about 90-95% of your uplink up/down in megabytes
# https://www.reddit.com/r/openbsd/comments/75ps6h/fqcodel_and_pf/doca4uv/
# Use DSLreports.com's SpeedTest for Bufferbloat analysis
uplink_upload: 11
uplink_download: 110

dotfiles_repo: git@github.com:someone/dotfiles.git
dotfiles_links:
  - { src: '/home/user/.dotfiles/zsh', dst: '/home/user/.zsh' }
  - { src: '/home/user/.dotfiles/vim', dst: '/home/user/.vim' }
  - { src: '/home/user/.dotfiles/tmux.conf', dst: '/home/user/.tmux.conf' }

packages:
  - 'curl'
  - 'zsh'
  - 'git'
  - 'pftop'
  - 'iperf'

adservers_permitted:
  - 'opensubtitles.org'
  - 'algolia.com'
